NET "In_CLK_50_Ref_E1" LOC = E1;
NET "IN_clk_50_Ref_E1" CLOCK_DEDICATED_ROUTE = FALSE;
NET "In_PHY_CRS_G13" LOC = G13;
NET "In_PHY_RX0_J9" LOC = J9;
NET "In_PHY_RX1_J8" LOC = J8;
NET "Out_LED_C0_AC1" LOC = AC1;
NET "Out_LED_C1_AB1" LOC = AB1;
NET "Out_LED_C2_W6" LOC = W6;
NET "Out_PHY_DATA_0_D3" LOC = D3;
NET "Out_PHY_DATA_1_F4" LOC = F4;
NET "Out_PHY_MDC_H6" LOC = H6;
NET "Out_PHY_MDIO_J7" LOC = J7;
NET "Out_PHY_Reset_J6" LOC = J6;
NET "Out_PHY_TXEN_E4" LOC = E4;
NET "Out_RP17_M2" LOC = M2;
NET "Out_RP18_P1" LOC = P1;
NET "Out_RP4_AD15" LOC = AD15;
NET "Out_RP6_AF14" LOC = AF14;
NET "Out_RP8_AE14" LOC = AE14;
NET "Out_RP9_AF13" LOC = AF13;
NET "R_CAM_DATA0_C22" LOC = C22;
NET "R_CAM_DATA1_D22" LOC = D22;
NET "R_FRAME_VALID_F20" LOC = F20;
NET "R_LINE_VALID_F19" LOC = F19;
NET "R_PIXCLK_C16" LOC = C16;
NET "R_TRIGGER_A15" LOC = A15;
NET "InOut_I2C_L_SCL_F14" LOC = F14;
NET "InOut_I2C_L_SDA_B15" LOC = B15;
NET "InOut_I2C_R_SCL_F7" LOC = F7;
NET "InOut_I2C_R_SDA_G9" LOC = G9;
NET "L_CAM_DATA0_B10" LOC = B10;
NET "L_CAM_DATA10_B8" LOC = B8;
NET "L_CAM_DATA11_C7" LOC = C7;
NET "L_CAM_DATA1_A10" LOC = A10;
NET "L_CAM_DATA2_D10" LOC = D10;
NET "L_CAM_DATA3_C10" LOC = C10;
NET "L_CAM_DATA4_H12" LOC = H12;
NET "L_CAM_DATA5_G12" LOC = G12;
NET "L_CAM_DATA6_B9" LOC = B9;
NET "L_CAM_DATA7_A9" LOC = A9;
NET "L_CAM_DATA8_D9" LOC = D9;
NET "L_CAM_DATA9_E10" LOC = E10;
NET "L_FRAME_VALID_F12" LOC = F12;
NET "L_LINE_VALID_C11" LOC = C11;
NET "L_PIXCLK_K11" LOC = K11;
NET "L_TRIGGER_G10" LOC = G10;
NET "R_CAM_DATA10_D21" LOC = D21;
NET "R_CAM_DATA11_E21" LOC = E21;
NET "R_CAM_DATA2_C23" LOC = C23;
NET "R_CAM_DATA3_D23" LOC = D23;
NET "R_CAM_DATA4_A22" LOC = A22;
NET "R_CAM_DATA5_B23" LOC = B23;
NET "R_CAM_DATA6_G17" LOC = G17;
NET "R_CAM_DATA7_H17" LOC = H17;
NET "R_CAM_DATA8_B21" LOC = B21;
NET "R_CAM_DATA9_C21" LOC = C21;
NET "L_EXTCLK_B13" LOC = B13;
NET "R_EXTCLK_A14" LOC = A14;
